:root {
  --main-color: aliceblue;
  --text-color: #000000;
  --highlight-color: #27e6cd;
}

body.dark-mode {
  --main-color: #000000;
  --text-color: #ffffff;
  --highlight-color: #90ff41;
}



body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  background-color: var(--main-color);
  color:var(--text-color);
 
}

h1 {
  position: fixed;
  top: 32px;
  left: 32px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: var(--highlight-color);
}

a.dark-mode-toggle {
  position: fixed;
  left: 32px;
  bottom: 32px;
}

a.menu-toggle {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1;
}

