

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 40px;
    background-color: aliceblue;
    color: black;
    background-position: center center;
    
}

h1 {
    position: fixed;
    top: 32px;
    left: 32px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

a.dark-mode-toggle {
    position: fixed;
    left: 32px;
    bottom: 32px;
}

a.menu-toggle {
    position: fixed;
    top: 32px;
    right: 32px;
}